<h1>Edit a Toy</h1>
<%= error_messages(@toy) %>

<%= form_for @toy do |f|  %>
  <%= f.label (:name) %>
  <%= f.text_field(:name) %>
  <br/>
  <%= f.label :size %>
  <%= f.text_field(:size) %>
  <br/>
  <%= f.label( :theme) %>
  <%= f.text_field(:theme) %>
  <br/>
  <label>Owner<label><br/>
  <%= collection_radio_buttons(:toy, :user_id, @users, :id, :username)%>
  <%# collection_radio_buttons(:post, :author_id, Author.all, :id, :name_with_initial) %>

  <%# @users.each do |user| %>
   <%#= radio_button_tag(:user_id, user.id)%><%#=  user.username %>
  <%# end %>
  <br/>
  <%= f.submit%>
<% end %>