<h1>Here's all the Toys in our ToyBox</h1>
<% if @toys.length < 5 %>
  <h4>Lets add some toys</h4>
  <p>Add by band</p> 
  <ul><% @toymakers.each do |toymaker| %>
    <li><%= link_to toymaker.brand, new_toymaker_toy_path(toymaker) %></li>
  <% end%></ul>
  <p>or just, <%= link_to 'Add a toy', toys_new_path %></p>
<% else %>
  <h4>There's a lot of toys here</h4>
<% end %>

<ul>
  <% @toys.each do |toy| %>
    <% if toy.toymaker %>
      <li><b><%= toy.name %></b> make by <b><%= toy.toymaker.brand  %></b></li>
    <% else %>
      <li><b><%= toy.name %></b> </li>
    <% end %>
  <% end %>
</ul>
