<h1><%= title_message(@toys) %></h1>

<% if current_user %>
  <h2>Lets add more! =D</h2>
  <h4>Add by Brand or just <%= link_to 'Add a toy', new_toy_path %></h4>
    <ul><% @toymakers.each do |toymaker| %>
      <li><%= link_to toymaker.brand, new_toymaker_toy_path(toymaker) %></li>
    <% end %></ul>
<% else %>
  <p><%= link_to 'Login', user_session_path %>  or <%= link_to 'SignUp', new_user_registration_path %> to add toys to our toybox</p>
<% end %>

<br/>
<div id='confirmMessage'>
</div>
<br/>

<h2>Here's all the Toys in our ToyBox</h2>

<ul>
  <% @toys.each do |toy| %>
    <li>
      <b><%= link_to toy.name, toy_path(toy) %></b> make by <b><%= toy.toymaker.brand  %></b>
      <%= link_to 'Rent Me', '#', {id: 'rentToy', data: {toy_id: toy.id}} if user_signed_in? %>
      <div id='formRentToy-<%= toy.id%>'>
      </div>
    </li>
  <% end %>
</ul>

<div id='hidden' style='display:none'>
  <%= render 'toys_users/form', {toyuser: ToysUser.new(toy_rent_date: Date.today)}%>
</div>