<h1>Here's all the Toys in our ToyBox</h1>
<h2><%= title_message(@toys) %></h2>
<% if @toys == {} #current_user temporary conditional, to stop code from breaking, need to build #current_user %>
  <h2>Lets add more! =D</h2>
  <h4>Add by Brand  </h4>
    <ul><% @toymakers.each do |toymaker| %>
      <li><%= link_to toymaker.brand, new_toymaker_toy_path(toymaker) %></li>
    <% end %></ul>

  <h4>or just, <%= link_to 'Add a toy', new_toy_path %></h4>
<% else %>
  <p>Login or SignUp to add toys to our toybox</p>
<% end %>
<ul>
  <% @toys.each do |toy| %>
    <% if toy.toymaker %>
      <li><b><%= link_to toy.name, toy_path(toy) %></b> make by <b><%= toy.toymaker.brand  %></b></li>
    <% else %>
      <li><b><%= toy.name %></b> </li>
    <% end %>
  <% end %>
</ul>
