<h1><%= @toy.name %></h1>
<h3>Belongs to: <%= @toy.user.username%></h3>
<p>Size: <%= @toy.size %></p>
<p>Theme: <%= @toy.theme %></p>

<%= button_to 'Remove Toy', toy_path(@toy), method: :delete, data: {confirm: 'Is the toy really broken!'}%>