<h1><%= @toy.name %></h1>
<h3>This toy was made by <em><%= @toy.toymaker.brand%></h3></em>

<p>Size: <%= @toy.size %></p>
<p>Theme: <%= @toy.theme %></p>
<%= button_to 'Rent Me', new_rental_path(@toy), method: :get %>

<%= button_to 'Remove Toy', toy_path(@toy), method: :delete, data: {confirm: 'Is the toy really broken!'}%>
